[submodule "Floe-Backend"]
	path = Floe-Backend
	url = https://github.com/TecheerTeam/Floe-Backend.git
	branch = develop
[submodule "floe-frontend"]
	path = floe-frontend
	url = https://github.com/TecheerTeam/floe-frontend.git
